<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="App">
        <div ref="msgDiv">{{msg}}</div>
        <div v-if="msg1">未加nextTick {{msg1}}</div>
        <div v-if="msg2">加nextTick {{msg2}}</div>
        <div v-if="msg3">未加nextTick {{msg3}}</div>
        <button @click="change">
            点击成功
        </button>
    </div>
</body>
<script src="./vue.js"></script>
<script>
    let vm = new Vue({
        el: "#App",
        data: {
            msg: "hello vue nexttick",
            msg1: "",
            msg2: "",
            msg3: ""
        },
        methods: {
            change() {
                this.msg="hello vue"
                this.msg1 = this.$refs.msgDiv.innerHTML
                this.$nextTick(() => {
                    this.msg2 = this.$refs.msgDiv.innerHTML
                })
                this.msg3=this.$refs.msgDiv.innerHTML
            }
        }
    })

</script>

</html>