section{
    background: lightgray;
    width: 100%;
    font-family: Georgia, serif;
    font-weight: 600;
    font-size: 42px;
    color: goldenrod;
    text-align: center;
    height: 120px;
    line-height: 120px;
}
