.userWrap{
    width: 400px;
    height: 300px;
    margin: 200px auto;
    text-align: center;
}
h2{
    color: cyan;
}
.ant-input{
    width: 300px;
    margin-top: 20px;
    border:1px solid #ccc;
}
